# python code format, usage `black .`
black==24.4.2
blackdoc==0.3.9
flake8==7.1.0
flake8-bugbear==24.4.26
flake8-comprehensions==3.15.0
flake8-docstrings==1.7.0
flake8-simplify==0.21.0
flake8-tidy-imports==4.10.0
isort==5.13.2
pyupgrade==3.17.0
types-requests
types-beautifulsoup4
types-Markdown
types-tqdm
pandas-stubs
types-psutil