name: Build and push docs image

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'
  release:
    types: [published]
  workflow_dispatch: 

permissions:
  contents: read

jobs:
  build-image:
    runs-on: ubuntu-latest
    # run unless event type is pull_request
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v3
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./docs/Dockerfile-deploy
          platforms: linux/amd64
          push: true
          tags: khulnasoft/gptdb-docs:${{ github.ref_name }},khulnasoft/gptdb-docs:latest